// createroomdialog.scss

@import '../variables.scss';

.createRoomDialog {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0000004d;

  .box {
    width: 450px;
    height: 280px;
    border-radius: 3px;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .dialogBoxTitle {
      padding-top: 20px;
      font-size: 2em;
      font-weight: bold;
    }

    .textInput {
      padding-top: 40px;

      input {
        width: 310px;
        height: 40px;
        border: 1px solid $accent;
        background-color: $secondary;
        border-radius: 3px;
        padding-left: 20px;
        font-size: 1em;
        color: white;
        outline: none;
      }
    }

    .continue_button {
      position: absolute;
      bottom: 40px;
    }

    .link {
      position: absolute;
      bottom: 10px;
      color: $accent;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}