// ripplespinner.scss

@import '../variables.scss';

.ripple {
  width: 100%;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid $accent;
  transform: translate(50%);
  animation: 1s ripple ease-out infinite;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}