@import 'variables.scss';
@import 'home.scss';
@import 'room.scss';
@import './components/sidebar.scss';
@import './components/roomitem.scss';
@import './components/audioplayer.scss';
@import './components/songlistitem.scss';
@import './components/uploaddialog.scss';
@import './components/createroombutton.scss';
@import './components/ripplespinner.scss';

body {
  margin: 0px;
  background-color: $primary;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: $white;

  h1 {
    margin: 0px;
  }
}

#app {
  display: flex;
}

.page {
  flex-grow: 1;
  background-color: $primary;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;

  .header_content {
    display: flex;
    margin-left: -24px;

    .page_title {
      flex-grow: 1;
    }    
  }
}

.big_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 38px;
  border-radius: 3px;
  background-color: $accent;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}