@import 'variables.scss';
@import 'sidebar.scss';
@import 'home.scss';
@import 'room.scss';

body {
  margin: 0px;
  background-color: $primary;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: $white;

  h1 {
    margin: 0px;
  }
}

#app {
  display: flex;
}

.page {
  flex-grow: 1;
  background-color: $primary;
  padding-top: 70px;
  padding-left: 50px;

  .page_title {
    display: flex;
    margin-left: -24px;
  }
}

.big_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 38px;
  border-radius: 3px;
  background-color: $accent;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}